/* Téléphone toute la largeur de l'écran */
@media only screen and (max-width: 499px) {
    body {
        width: calc(100% - 20px);
        margin: 10px 10px;
    }

    h1 {
        font-size: 12vw;
    }
    
    div#end_game span {
        font-size: 15vw;
    }
}
  
/* Ordinateur taille maximale de 500px */
@media only screen and (min-width: 500px) {
    body {
        width: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: 60px;
    }
    
    div#end_game span {
        font-size: 85px;
    }
}

body {
    background-image: url("./assets/img/paper.png");
    background-repeat: repeat;
    font-family: "Ubuntu";
    font-weight: normal;
    font-style: normal;
    font-size: x-large;
    color: darkblue;
    overflow-y: scroll;
}

#quit {
    width: 32px;
    height: 32px;
    float: right;
    display: inline-block;
    margin-bottom: 10px;
}

h1 {
    font-family: "LovelyHome";
    text-align: center;
    clear: right;
}

button, input {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

input, textarea {
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: x-large;
    border: solid 2px darkblue;
    color: darkblue;
}

input::placeholder, textarea:placeholder {
    color: darkblue;
    opacity: 0.5;
}

input:focus, textarea:focus {
    outline: none;
}

textarea {
    resize: vertical;
    font-size: normal;
    min-height: 70px;
}

button {
    display: block;
    width: auto;
    line-height: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px;
    background-color: darkblue;
    border: none;
    color: white;
    font-size: x-large;
}

button:hover {
    color: aqua;
}

input.invalid {
    color: red; 
    border-color: red;
}

img {
    vertical-align: middle;
}

ul {
    list-style: none;
    display: inline-block;
    padding: 0px 0px;
    margin-left: 5px;
    vertical-align: middle;
    width: calc(100% - 75px);
}

li {
    display: inline-block;
    background-color: darkblue;
    font-size: large;
    color: white;
    padding: 3px 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow-x: scroll;
    max-width: 100px;
}

li.mypseudo {
    color: aqua;
}

div#game span {
    background-color: darkblue;
    color: white;
    max-width: calc(100% - 95px);
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    overflow-x: scroll;
    margin-left: 5px;
    padding: 5px 10px;
}

div#game {
    margin-bottom: 12px;
}

div#secret > span {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 75px);
    margin-left: 5px;
}

div#secret span span {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 2px;
    padding-left: 3px;
    font-family: "UbuntuMono";
    font-size: xx-large;
    background-color: darkblue;
    color: white;
}

div#secret span.found {
    color: aqua;
}

div.definition {
    border: solid 2px darkblue;
    padding: 5px 5px;
    margin-bottom: 10px;
}

div.definition :is(div, p, input, button) {
    margin-top: 0px;
    margin-bottom: 5px;
}

div.definition p {
    font-size: large;
}

div.definition input {
    width: calc(100% - 100px)
}

div.definition button {
    display: inline-block;
    padding: 0px 5px;
    height: 35px;
}

div.definition span {
    display: inline-block;
    vertical-align: middle;
    max-width: calc(50% - 45px);
    overflow: hidden;
    overflow-x: scroll;
    background-color: darkblue;
    color: white;
    font-size: large;
    padding: 0px 5px;
}

div.definition span.success {
    background-color: green;
}

div.definition span.fail {
    background-color: red;
}

div.definition.solved {
    background-color: rgba(175,238,238,0.3);
}

div#end_game {
    border-radius: 15px;
    padding: 10px 20px;
}

div#end_game.winner {
    background-color: rgba(255,255,0,0.3);
    color: #f29b0f;
}

div#end_game.looser {
    background-color: rgba(0,0,139,0.6);
    color: white;
}

div#end_game span {
    max-width: calc(100% - 150px);
    display: inline-block;
    vertical-align: middle;
}

p.error {
    background-color: rgba(255,0,0,0.7);
    text-align: left;
    font-size: large;
    color: white;
    padding: 5px 10px;
}
